<div class="container">
  <div class="row">
    <div class="col-lg-12 how_to_apply">
      <h5 style="text-transform:uppercase;font-weight:bold;">Apply for this position</h5>
      <p><%= @listing.how_to_apply %></p>
    </div>
  </div>
</div>
