<div class="row">
  <div class="col-lg-12" style="margin-bottom:18px;">
    <h3>
      <a href="<%= root_path %>">
        <img src="<%= image_path('logos/logo-small.png') %>" alt="$$$ Dollar Jobs", width="180">
      </a>
    </h3>
  </div>
</div>
