<% title "Terms and Conditions" %>

<div class="container">
  <%= render 'pages/logo' %>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <article class="">
        <h2>
          <strong>Terms and Conditions</strong>
        </h2>

        <h5>
          <strong>Updated March 27, 2019</strong>
        </h5>
        <p>
          This Terms of Service (the “Terms”) describes the rights and responsibilities that apply to your use of Mittaltiger Advertising's websites, including but not limited to: Dollar Jobs and any other service (collectively, the “Service”), each owned and operated by Mittaltiger Enterprises. (“Mittaltiger Enterprises, Mittaltiger Advertising”, “Dollar Jobs“, “we”, “our” or “us”).
        </p>

        <p>
          Please read the Terms carefully before using the Service. If you don’t agree to the Terms, as well as Mittaltiger Advertising’s Privacy Policy (the “Privacy Policy”) and Mittaltiger Advertising's Community Guidelines, you may not use the Service. If you are entering into the Terms on behalf of a company or other legal entity, you represent that you have the authority to bind such entity to the Terms. If you do not have such authority, you must not accept the Terms or use the Service on behalf of such entity. The Service is only available to you if you have entered the age of majority in your jurisdiction of residence and are fully able and competent to enter into, abide by and comply with the Terms.
        </p>

        <p>
          Your Mittaltiger Advertising Account. If you create an account on the Service (your “Account”), you are responsible for maintaining the security of your Account and its Content (as defined below), and you are fully responsible for all activities that occur under your Account and any other actions taken on the Service. You must not describe or assign Content to your Account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Mittaltiger Advertising may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause Mittaltiger Advertising liability. You must immediately notify Mittaltiger Advertising of any unauthorized uses of your Account or any other breaches of security. Mittaltiger Advertising will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
        </p>

        <p>
          Fees and Renewals. There will be no refunds or credits for partial months of job postings. Postings recur on a monthly basis and the user is required to update the subscription on a monthly basis for each job post.
        </p>

        <p>
          You take full responsibility for all taxes and fees of any nature associated with the Service, including any sales tax related to any purchase or sale of services or goods under the Terms. When purchasing or selling services or goods under the Terms, it is your responsibility to determine whether or not sales taxes apply to a transaction and to collect, report and remit the correct amounts to the appropriate authority.
        </p>

        <p>
          Your Responsibilities. If you operate an Account, comment on a screenshot, post material to the Service, post links on the Service, or otherwise make (or allow any third party to make) material available by means of the Service (any such material, “Content”), you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text or graphics. By making Content available, you represent and warrant that:
        </p>

        <p>
          The downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
        </p>

        <p>
          If your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
          you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
        </p>

        <p>
          The Content does not contain or install any viruses or other harmful or destructive content;
          the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
        </p>

        <p>
          The Content is not obscene, libelous or defamatory, hateful or racially or ethnically objectionable, and does not violate the privacy or publicity rights of any third party;
          your Account is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;
        </p>

        <p>
          Your Account is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your Account’s URL or name is not the name of a person other than yourself or company other than your own; and
          you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Mittaltiger Advertising or otherwise.
        </p>

        <p>
          By uploading Content or otherwise providing Content to Mittaltiger Advertising , you grant Mittaltiger Advertising the right to use (including the right to host, index, cache and format) and display your Content in connection with providing the Service as well as otherwise on the Site and our marketing communications with you and other users and prospective users of the Service, including without limitation on our emails, marketing channels and other promotional materials (subject to the requirements set out in the Privacy Policy). To the extent we use your Content in our marketing communications, unless you expressly permit us to do otherwise, we will always cite you as the owner of such Content. This paragraph will survive the termination or expiry of the Terms.
        </p>

        <p>
          Mittaltiger Advertising reserves the right to refuse or remove any Content or terminate or deny access to your use of the Service for any reason whatsoever. Please read the Community Guidelines for rules and advice on what types of Content and uses of the Service are appropriate at Mittaltiger Advertising.
        </p>

        <p>
          All Content uploaded are copyright © their respective owners.
        </p>

        <p>
          If you delete Content, Mittaltiger Advertising will use reasonable efforts to remove it from the Service, but you acknowledge that caching or references to the Content may not be made immediately unavailable.
        </p>

        <p>
          Third Party Websites and Content. We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which Mittaltiger Advertising links, and that link to Mittaltiger Advertising. Mittaltiger Advertising does not have any control over those non-Mittaltiger Advertising websites and webpages, and is not responsible for their contents or their use. By linking to a non-Mittaltiger Advertising website or webpage, Mittaltiger Advertising does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses and other harmful or destructive content. Mittaltiger Advertising disclaims any responsibility for any harm resulting from your use of non-Mittaltiger Advertising websites and webpages.
        </p>

        <p>
          Intellectual Property. All material available on the Service and all material and services provided by or through Mittaltiger Advertising , its affiliates, subsidiaries, employees, agents, licensors or other commercial partners including, but not limited to, software, all informational text, software documentation, design of and “look and feel”, layout, photographs, graphics, audio, video, messages, interactive and instant messaging, design and functions, files, documents, images, or other materials, whether publicly posted or privately transmitted as well as all derivative works thereof (collectively, the “Materials”), are owned by us or our licensors or service providers, and are protected by copyright, trademark, trade secret and other intellectual property laws.
        </p>

        <p>
          Subject to your compliance with the Terms, during the term of the Terms, Mittaltiger Advertising grants to you a non-transferable, non-sublicensable, non-exclusive, revocable, limited-purpose right to access and use the Materials that we make available to you.
        </p>

        <p>
          If Mittaltiger Advertising, in its sole discretion and without notice, considers that there is an immediate security or operational risk to the Service, any of its, your or a third party system, then Mittaltiger Advertising may immediately suspend access to or use of the Service. The suspension of use and access is not a breach of the Terms. You acknowledge that the preservation of security, confidentiality and data is paramount. Mittaltiger Advertising has no liability to you for suspending the Service under this provision.
        </p>

        <p>
          This section does not apply to Content; however you agree that any ideas, suggestions, concepts, processes or techniques which you provide to Mittaltiger Advertising related to the Service or Mittaltiger Advertising or its business (“Feedback”) are and will be Mittaltiger Advertising's exclusive property without any compensation or other consideration payable to you by Mittaltiger Advertising, and you do so of your own free will and volition. Mittaltiger Advertising may or may not, in its sole discretion, use or incorporate the Feedback in whatever form or derivative Mittaltiger Advertising may decide into the Service or its business or other products. You hereby assign all rights on a worldwide basis in perpetuity to Mittaltiger Advertising in any Feedback and, as applicable, waive any moral rights.
        </p>

        <p>
          For the purposes of the Terms and the Privacy Policy, “personal information” is any information about an identifiable individual, as defined in our Privacy Policy.
        </p>

        <p>
          Mittaltiger Advertising retains the right to use or share any Aggregated Data generated by anyone using the Service, including our users, for the purpose of enhancing and providing the Service. “Aggregated Data” means data does not contain personal information and which has been manipulated or combined to provide generalized, anonymous information. Where you choose to utilize or connect certain services from third parties with the Service, you agree that Mittaltiger Advertising may share your lead data with such designated third parties. You are still responsible for any and all personal information that is part of any Content.
        </p>

        <p>
          Changes. Mittaltiger Advertising reserves the right, at its sole discretion, to modify or replace any part of the Terms. It is your responsibility to check the Terms periodically for changes. Your continued use of or access to the Service following the posting of any changes to the Terms constitutes acceptance of those changes. Mittaltiger Advertising may also, in the future, offer new services and/or features through the Service (including, the release of new tools and resources). Such new features and/or services shall be subject to the Terms.
        </p>

        <p>
          Disclaimer of Warranties. Your use of the Service and all Content forming part of or related to the Service, including any Content you upload or submit and any third party software and Content, are at your sole responsibility and risk. The Service are provided on an “as is” and “as available” basis. Mittaltiger Advertising expressly disclaims all representations, warranties, or conditions of any kind with respect to the Service, whether express or implied, including, but not limited to, any implied warranties or conditions of merchantability, fitness for a particular purpose, accuracy, completeness, performance, system integration, quiet enjoyment, title, and non-infringement.
        </p>

        <p>
          The service is offered and controlled by Mittaltiger Advertising from its facilities in Canada. Mittaltiger Advertising makes no representations that the service is appropriate or available for use in locations other than Canada and the United States. Those who access or use the Service from other jurisdictions do so at their own volition and are responsible for compliance with local law. We handle complaints of copyright infringement in accordance with our Copyright Policy.
        </p>

        <p>
          Limitation of Liability. You agree that, under no legal theory, including, but not limited to negligence, breach of warranty or condition, breach of contract or tort, will Mittaltiger Advertising or its owners, officers, directors, affiliates, contractors, employees or agents, be liable to you or any third party acting on your behalf for any indirect, incidental, special, consequential, punitive, or exemplary damages or damages for loss of profits, goodwill, use, data, or other intangible losses or the cost of any substitute equipment, facilities or services (even if Mittaltiger Advertising has been advised of the possibility of such damages), arising from or relating to the Terms or your use of or your inability to use the Service, or for any damages arising from or related to the Terms. Mittaltiger Advertising's total aggregate liability from any and all claims under the Terms is limited to the total amounts you paid to Mittaltiger Advertising in the one (1) year immediately preceding the occurrence of loss or damage. To the extent any province, state or jurisdiction does not allow the exclusion or the limitation of liability for consequential or incidental damages, Mittaltiger Advertising's liability in such province, state or jurisdiction will be limited to the furthest extent permitted by law. Notwithstanding the foregoing or anything else herein to the contrary, Mittaltiger Advertising will not be liable to you or any third party acting on your behalf in any way with respect to a trial program or your provision of an individual’s personal information to Mittaltiger Advertising or through the Service. You further agree that the foregoing limitations will apply with respect to third party liability of any kind.
        </p>

        <p>
          The foregoing limitations will also apply with respect to any damages incurred by reason of any content or services provided on any third party sites or otherwise provided by any third parties other than Mittaltiger Advertising and received by you through or advertised on the Service or received by you on any third party sites. You also agree that Mittaltiger Advertising will not be responsible or liable for any loss or damage of any kind incurred as the result of any interactions or dealings with advertisers or as the result of the presence of such advertisers on the Service.
        </p>

        <p>
          With respect to any dispute arising out of or related to the Service and/or the Terms: (i) you hereby expressly give up your right to have a trial by jury; and (ii) you hereby expressly give up your right to participate as a member of a class of claimants, in any lawsuit including but not limited to class action lawsuits involving any such dispute.
        </p>

        <p>
          You agree that you will not bring a claim under or related to the Terms more than one (1) year from when your claim first arose.
        </p>

        <p>
          General Representation and Warranty. You represent and warrant that (i) your use of the Service will be in strict accordance with the Terms, the Privacy Policy, the Community Guidelines and all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the Canada or the country in which you reside) and (ii) your use of the Service will not infringe or misappropriate the intellectual property rights of any third party.
        </p>

        <p>
          Indemnification. You agree to indemnify, defend, and hold harmless Mittaltiger Advertising , and its parent, subsidiaries, affiliates, co-branders, all third-party advertisers, technology providers, service providers or other partners, and each of their respective officers, directors, agents, shareholders, employees and representatives (together, the “Indemnified Parties”), from and against any third party claim, demand, loss, damage, cost, or liability (including, reasonable attorneys’ fees) (collectively and individually, “Claims”) incurred by or made against the Indemnified Parties in connection with any Claims arising out of or relating to the Terms, the Service, including but without limitation in relation to: (a) your use, non-use or misuse of, or connection to the Service and any Content; (b) your violation or alleged violation of the Terms; and (c) your violation of any rights, including intellectual property rights, of a third party and otherwise as set out herein. Mittaltiger Advertising reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify Mittaltiger Advertising and you agree to cooperate with Mittaltiger Advertising's defense of these Claims. You agree not to settle any matter without the prior written consent of Mittaltiger Advertising. Mittaltiger Advertising will use reasonable efforts to notify you of any such Claims upon becoming aware of it.
        </p>

        <p>
         Miscellaneous. If there is any dispute between you and Mittaltiger Advertising about or involving the Terms, the Service, you hereby agree that the dispute will be governed by and construed in accordance with the laws of the State of Karnataka, India, without regard to its conflict of law provisions.
        </p>

        <p>
         Except for any claim involving the ownership of intellectual property, all disputes arising out of or in connection with the Terms will be referred to and finally resolved by arbitration under the rules of the Karnataka State International Commercial Arbitration Centre. The appointing authority will be the Karnataka State International Commercial Arbitration Centre. The case will be adjudicated by a single arbitrator and will be administered by the Karnataka State International Commercial Arbitration Centre in accordance with its rules. The place of arbitration will be Bengaluru, Karnataka, India. The language of the arbitration will be English.
        </p>

        <p>
         If any portion of the Terms is deemed unlawful, void or unenforceable by any arbitrator or court of competent jurisdiction, the Terms as a whole will not be deemed unlawful, void or unenforceable, but only that portion of the Terms that is unlawful, void or unenforceable will be stricken from the Terms.
        </p>

        <p>
         You agree that the Terms are specifically enforceable by Mittaltiger Advertising through injunctive relief and other equitable remedies without proof of monetary damages.
        </p>

        <p>
         You agree that if Mittaltiger Advertising does not exercise or enforce any legal right or remedy which is contained in the Terms (or which Mittaltiger Advertising has the benefit of under any applicable law), this will not be taken to be a formal waiver of Mittaltiger Advertising's rights and that those rights or remedies will still be available to Mittaltiger Advertising.
        </p>

        <p>
         The Terms are the entire agreement between us related to the subject matter in the Terms. The Terms replace and supersede any other prior or contemporaneous agreement, representation or discussion, oral or written, and may not be changed except in writing signed by us, regardless of whether or not the parties act under an unsigned “electronic” agreement or rely on such an unsigned agreement.
        </p>

        <p>
         Contacting Mittaltiger Advertising. You may contact Mittaltiger Advertising by email at <a href="mailto:advertisingdivision@mittaltiger.com">advertisingdivision@mittaltiger.com.</a>
        </p>

      </article>

    </div>
  </div>
</div>
