<section class="free_book_section">
  <div class="container-fluid">
    <div class="row free-book">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <img src="<%= image_path('ebook-cover-6keyskills-web.jpg') %>" alt="6 Key Skills you MUST possess to become Top Salesman - FREE ebook" style="display:block;width:300px;height:auto;" align="top">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <center>
          <h4 style="">Becoming a Salesman is NOT easy, it is like joining military.</h4>
          <h2>And, becoming a Top Salesman is Super Tough.</h2>
          <p>We have written a FREE ebook - <strong>6 Key Skills you Must Possess to Become a Top Salesperson</strong> - to help you achieve your mission of becoming a Top Salesman or Top Saleswoman and of generating a sustainable 6-figure income for now and for tomorrow.</p>
          <div class="" style="border:1px solid #666;padding:18px;margin-top:36px;">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup_dark{background:#000; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup_dark">
            <form action="https://gmail.us20.list-manage.com/subscribe/post?u=db053d29d2bcb15cacae4d12c&amp;id=acb74f7ee0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Receive a FREE copy of this eBook in your inbox</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_db053d29d2bcb15cacae4d12c_acb74f7ee0" tabindex="-1" value=""></div> <br><br>
                <div class="clear"><input type="submit" value="Send me my FREE copy now >>>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
              </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
        </center>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>
